:root {
  --primary-color: #ff3e3e;
  --secondary-color: #3e8bff;
  --bg-color: #f0f2f5;
  --text-color: #333;
  --card-bg: #ffffff;
  --font-main: 'DNFBitBitv2', sans-serif;
  --spacing-md: 16px;
  --spacing-lg: 24px;
}

@font-face {
    font-family: 'DNFBitBitv2';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf') format('opentype');
}

body {
  margin: 0;
  font-family: var(--font-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}